<div class="sidebar-column-search justify-content-center">
  <span class="fs-14 text-uppercase">
    Workflow options
  </span>
</div>
<div class="sidebar-column--content">
  <ul class="sidebar-column-menu">
    <li class="sidebar-column-menu-item hover">
      <div class="sidebar-column-menu-item--name sidebar-column-menu-item--name-pdf">
        <button
          (click)="onStartAnnotateProcessClick()"
          class="button button-primary mr-2 mb-2 flex-grow-1"
          [disabled]="isAnnotateDisabled()"
        >
          {{
            this.annotateUrl
                ? 'Reset annotations'
                : 'Annotate'
          }}
        </button>
        <button
          *ngIf="this.annotateUrl || isAnnotateDisabled()"
          [disabled]="isAnnotateDisabled()"
          [pTooltip]="'Send additional pages to improve translations'"
          (click)="sendAdditionalPages()"
          class="button button-primary mr-auto mb-2">+ 20
        </button>
        <div class="sidebar-column-menu-item--text-small">
          <ng-container [ngSwitch]="true">
            <span
              *ngSwitchCase="status.annotate === PdfAnnotateStatus.Starting"
              class="text-warning"
            >
              Asking Lexonomy to start processing your file
            </span>
            <span
              *ngSwitchCase="status.annotate === PdfAnnotateStatus.Processing"
              class="text-warning"
            >
              Lexonomy is processing your file...
            </span>
            <span
              *ngSwitchCase="status.annotate === PdfAnnotateStatus.Ready"
              class="text-success"
            >
              Hooray, your file is ready to be annotated
            </span>
            <span
              *ngSwitchCase="status.annotate === PdfAnnotateStatus.LexonomyError"
              class="text-danger"
            >
              Sending annotated dictionary to Lexonomy failed
            </span>
          </ng-container>
          <a
            *ngIf="annotateUrl"
            [href]="annotateUrl"
            target="_blank"
            class="d-block"
          >
            View in Lexonomy
          </a>
        </div>
      </div>
    </li>
    <li class="sidebar-column-menu-item hover">
      <div class="sidebar-column-menu-item--name sidebar-column-menu-item--name-pdf">
        <button
          (click)="onTriggerMlWorkflowClick()"
          class="button button-primary mr-auto mb-2 w-100"
        >
          Start ML
        </button>
        <div
          [ngSwitch]="true"
          class="sidebar-column-menu-item--text-small"
        >
          <span
            *ngSwitchCase="status.ml === PdfMLStatus.MlAnnotated"
            class="text-success"
          >
            Annotated file is ready for ML
          </span>
          <span
            *ngSwitchCase="status.ml === PdfMLStatus.StartingML"
            class="text-warning"
          >
            Starting ML process
          </span>
          <span
            *ngSwitchCase="status.ml === PdfMLStatus.MlFormat"
            class="text-warning"
          >
            Running ML on annotated file
          </span>
          <span
            *ngSwitchCase="status.ml === PdfMLStatus.MlAnnotated"
            class="text-warning"
          >
            Finished ML on file, converting output to xml
          </span>
          <span
            *ngSwitchCase="status.ml === PdfMLStatus.LexFormat"
            class="text-warning"
          >
            ML output was transformed to xml and is ready to be downloaded or sent to preview
          </span>
          <span
            *ngSwitchCase="status.ml === PdfMLStatus.Lex2MlError"
            class="text-danger"
          >
            Transformation to ML format failed
          </span>
          <span
            *ngSwitchCase="status.ml === PdfMLStatus.Ml2LexError"
            class="text-danger"
          >
            Transformation to Lexonomy format failed
          </span>
          <span
            *ngSwitchCase="status.ml === PdfMLStatus.MlError"
            class="text-danger"
          >
            Running ML on transformed file failed
          </span>
        </div>
      </div>
    </li>
    <li class="sidebar-column-menu-item hover">
      <div class="sidebar-column-menu-item--name sidebar-column-menu-item--name-pdf">
        <button
          [disabled]="isPreviewDisabled()"
          (click)="onOpenPreviewClick()"
          class="button button-primary mr-auto mb-2 w-100"
        >
          Prepare for Preview
        </button>
        <div class="sidebar-column-menu-item--text-small">
          <ng-container [ngSwitch]="true">
            <span
              *ngSwitchCase="status.preview === PdfPreviewStatus.Starting"
              class="text-warning"
            >
              Asking Lexonomy to start processing your file
            </span>
            <span
              *ngSwitchCase="status.preview === PdfPreviewStatus.Processing"
              class="text-warning"
            >
              Lexonomy is processing your file...
            </span>
            <span
              *ngSwitchCase="status.preview === PdfPreviewStatus.Ready"
              class="text-success"
            >
              Hooray, your file is ready for preview
            </span>
            <span
              *ngSwitchCase="status.preview === PdfPreviewStatus.LexonomyError"
              class="text-danger"
            >
              Sending preview dictionary to Lexonomy failed
            </span>
          </ng-container>
          <a
            *ngIf="previewUrl"
            [href]="previewUrl"
            target="_blank"
            class="d-block"
          >
            View in Lexonomy
          </a>
        </div>
      </div>
    </li>
    <li class="sidebar-column-menu-item hover">
      <div class="sidebar-column-menu-item--name sidebar-column-menu-item--name-pdf">
        <button
          [routerLink]="[dictionaryId, 'character-mapping']"
          class="button button-primary mr-auto mb-2 w-100"
        >
          Map characters
        </button>
      </div>
    </li>
    <li class="sidebar-column-menu-item hover">
      <div class="sidebar-column-menu-item--name sidebar-column-menu-item--name-pdf">
        <button
          (click)="onDownloadPdf()"
          *ngIf="canDownload()"
          [disabled]="preparingDownload"
          class="button button-primary mr-auto mb-2 w-100 text-center fw-500"
        >
          {{ preparingDownload ? 'Downloading, wait...' : 'Download' }}
        </button>
      </div>
    </li>
  </ul>
</div>
