<div
  class="pt-5 px-5"
  style="flex: 1"
>
  <h4 class="text-danger text-center">NOTICE:</h4>
  <p class="text-danger text-center">
    This is a <b>PUBLIC BETA</b> release. You will likely encounter bugs and/or unexpected behaviour. In case of any issues, please contact elexifier@ijs.si
  </p>
  <ng-container *ngIf="workflowType === 'xml'; else pdf">
    <p class="text-center">
      <i-feather name="file-text"></i-feather>
    </p>
    <h6>1. Upload an xml dictionary and create a transformation</h6>
    <p class="text-gray">
      Start by clicking NEW DICTIONARY in the bottom left corner and then upload an XML dictionary, define its metadata and the initial transformation rules.
    </p>
    <h6>2. Define the transformation specification</h6>
    <p class="text-gray">
      Click Edit in the top row to define the individual core elements of the Elexis Data Model. Select the elements in your xml file from the list or define your own Xpath expression.
    </p>
    <h6>3. Download your file</h6>
  </ng-container>
  <ng-template #pdf>
    <p class="text-center">
      <i-feather name="file-text"></i-feather>
    </p>
    <h6>1. Upload your PDF and send it to Lexonomy for annotation.</h6>
    <h6>2. Click the link to annotate your dictionary in Lexonomy. Tip: For best results, annotate at least 4 full pages of dictionary entries.</h6>
    <h6>3. Start the machine learning process. The process runs in the background, so you can close the app and come back later.</h6>
    <h6>4. The results of the ML processing can be previewed in Lexonomy.</h6>
    <h6>5. Due to unknown encodings, PDF conversion can result in corrupted characters. If you see corrupted characters in your dictionary, you can map them to proper characters and Elexifier will replace them in the final file.</h6>
    <h6>6. Download your transformed dictionary.</h6>
  </ng-template>
  <hr class="my-4">
  <p class="text-center">
    <a
      class="button button-primary d-inline-block"
      (click)="openCreateDictionaryAndTransformationModal()"
    >
      Upload a dictionary
    </a>
  </p>
  <p class="text-center">
    <a
      class="button button-primary d-inline-block"
      (click)="openPullClarinModal()"
    >
      Pull from Clarin
    </a>
  </p>
<!--  <p class="text-gray">Please select a dictionary and a transformation to get started</p>-->
<!--  <p class="text-gray">or</p>-->
<!--  <a-->
<!--    class="button button-primary d-inline-block"-->
<!--    (click)="openCreateDictionaryAndTransformationModal()"-->
<!--  >-->
<!--    Upload a dictionary-->
<!--  </a>-->
</div>
