 //OLD COLORS
$primary: #00aaff;
$secondary: #f58191;
$black: #1a2138;
$grey: #8f9bb3;
$lightGrey: #edf1f7;
//$lightBlue: #f3faff;
$disabled: #bdd3e2;

$darkBlue: #182433;
$black: $darkBlue;
$lightGray: #dfe1e3;
$lighterGray: #f3f3f3;
$lightestGray: #fdfdfd;
$gray: #878787;
$puke: #B8B623;
$blue: #1E6B9E;
$lightBlue: #d8e6ef;
$green: #7DD8A4;
$red: #F67171;
