<div class="navbar">
  <div class="navbar-item--container">
    <div
      [routerLink]="['/dictionaries']"
      class="menu-left navbar-item navbar-item--logo"
    >
    </div>
  </div>
  <div class="menu-right">
<!--    <div class="search">-->
<!--      <i-feather name="search" class="icon icon-grey"></i-feather>-->
<!--      <input type="text" placeholder="Dictionaries">-->
<!--    </div>-->
<!--    <a-->
<!--      href="https://elex.is"-->
<!--      class="navbar-item"-->
<!--    >-->
<!--      Elexis-->
<!--    </a>-->
<!--    <div-->
<!--      [routerLink]="['/contact']"-->
<!--      class="navbar-item"-->
<!--    >-->
<!--      Contact-->
<!--    </div>-->
<!--    <ng-container *ngIf="isLoggedIn">-->
<!--      <p-menu-->
<!--        #userMenu-->
<!--        [popup]="true"-->
<!--        [model]="items"-->
<!--      ></p-menu>-->
<!--      <div-->
<!--        class="navbar-item user"-->
<!--        (click)="userMenu.toggle($event)"-->
<!--      >-->
<!--        <div class="user-name">-->
<!--          {{ user?.email }}-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->
  </div>
</div>
