<div class="layout-container">
  <app-sidebar></app-sidebar>
  <div class="sidebar-column">
    <div class="sidebar-column-search justify-content-center">
    <span class="fs-14 text-uppercase">
      Admin
    </span>
    </div>
    <div class="sidebar-column--content">
      <ul class="sidebar-column-menu">
        <li
          [routerLink]="['logs']"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{exact: true}"
          class="sidebar-column-menu-item hover">
          <div
            class="sidebar-column-menu-item--name sidebar-column-menu-item--name-pdf">
            Logs
          </div>
        </li>
        <li
          [routerLink]="['logs']"
          [queryParams]="{errorOnly: true}"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{exact: true}"
          class="sidebar-column-menu-item hover">
          <div
            class="sidebar-column-menu-item--name sidebar-column-menu-item--name-pdf">
            Errors
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
