<div class="p-5">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h4 class="">Log ID: {{log.id}}</h4>
    <div *ngIf="!hideDownloadButtons">
      <button
        [disabled]="downloadingAnnotations"
        class="button button-primary d-inline-block mr-3"
        (click)="onDownloadAnnotations()"
      >{{ downloadingAnnotations ? 'Processing, please wait...' : 'Download Annotations'}}</button>
      <button
        [disabled]="downloadingXml"
        class="button button-primary d-inline-block mr-3"
        (click)="onDownloadXml()"
      >{{ downloadingXml ? 'Processing, please wait...' : 'Download XML'}}</button>
      <button
        [disabled]="downloadingPdf"
        class="button button-primary d-inline-block"
        (click)="onDownloadPdf()"
      >{{ downloadingPdf ? 'Processing, please wait...' : 'Download PDF'}}</button>
    </div>
  </div>
  <div class="card p-3">
    <h5>Message:</h5>
    <div class="terminal" [innerHTML]="log.message">
    </div>
  </div>
</div>
